		<div class="modal-header">
			<h2 class="modal-title fs--18 m-0">
				Order #1487
			</h2>

			<button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
				<span class="fi fi-close fs--18" aria-hidden="true"></span>
			</button>
		</div>

		<div class="modal-body p--30">

			<div class="row">
				
				
<div class="col-12 col-sm-12 col-md-12 col-lg-9">

							<!-- ORDER INFO -->
							<div class="p-4 shadow-xs border rounded mb-4">
								
								<div class="row">

									<div class="col-12 col-sm-6 col-md-6 col-lg-6">

										<h2 class="fs--18 mb-0">
											Order #1009
										</h2>

										<p>
											November 23, 2018, 11:38
										</p>

										<p class="mb-0">
											Status:

											<span class="text-warning">
												Pending / New
											</span>
										</p>

									</div>


									<div class="col-12 col-sm-6 col-md-6 col-lg-6">

										<a href="#" 
											data-href="#?action=cancel&amp;order_id=1009" 
											data-ajax-confirm-mode="regular" 
											data-ajax-confirm-size="modal-md" 
											data-ajax-confirm-centered="false" 
											data-ajax-confirm-title="Please Confirm" 
											data-ajax-confirm-body="Are you sure you want to cancel this order?" 
											data-ajax-confirm-btn-yes-class="btn-sm btn-danger" 
											data-ajax-confirm-btn-yes-text="Yes, Cancel" 
											data-ajax-confirm-btn-yes-icon="fi fi-check" 
											data-ajax-confirm-btn-no-class="btn-sm btn-light" 
											data-ajax-confirm-btn-no-text="No" 
											data-ajax-confirm-btn-no-icon="fi fi-close" 
											class="js-ajax-confirm float-end float-none-xs m-0 btn btn-sm btn-light fs--14 mb-0 mt-2">

											CANCEL ORDER
											<span class="text-muted fs--12 d-block">
												29 min. remaining
											</span>

										</a>

									</div>

								</div>

							</div>
							<!-- /ORDER INFO -->



							<!-- ORDER PERSONAL DETAIL -->
							<div class="p-4 shadow-xs rounded mb-4">

								<div class="row row-grid b-0">

									<div class="col-12 col-sm-12 col-md-4 col-lg-4">

										<div class="px-3 pb-3">

											<h6 class="mt-2 text-primary">
												ORDER CONTACT
											</h6>

											<!-- not needed/required -->
											<!--
											<div class="mt-3">
												<span class="d-block text-muted">Name:</span>
												John Doe
											</div>
											-->

											<div class="mt-3">
												<label class="text-dark d-block m-0">Email:</label>
												<a class="text-muted" href="mailto:john.doe@gmail.com">john.doe@gmail.com</a>
											</div>

											<div class="mt-3">
												<label class="text-dark d-block m-0">Phone:</label>
												<span class="text-muted">(+01) 555-5555</span>
											</div>

											<div class="mt-3">
												<span class="d-block text-dark">Payment Method:</span> 

												<a class="text-decoration-none" href="#order_payment_info" data-toggle="collapse">
													<span class="group-icon fs--14">
														<i class="fi fi-arrow-down"></i> 
														<i class="fi fi-close"></i> 
													</span>
												
													<span class="d-inline-block pl-2 pr-2">
														Bank Deposit
													</span>
												</a>
												
												<!-- data from checkout -->
												<p class="bg-light p-2 rounded mt-2 collapse" id="order_payment_info">
													<span class="d-block text-muted">Payment Info:</span> 
													<b>Bank Name</b>: ACME Bank<br>
													Bank Branch: New York<br>
													Account Name: John Smith<br>
													Account Number: XXXXXXXXXXXX
												</p>
											</div>

										</div>

									</div>

									<div class="col-12 col-sm-6 col-md-4 col-lg-4">

										<div class="px-3 pb-3">

											<h6 class="mb-4 mt-2 text-primary">
												SHIPPING <span class="font-weight-normal">ADDRESS</span>
											</h6>

											<label class="text-dark d-block m-0">Name</label>
											<p>
												John Doe
												<span class="d-block fs--13 text-muted">(+01) 555-5555</span>
											</p>

											<label class="text-dark d-block m-0">Company</label>
											<p>
												Smarty Inc.
											</p>
											
											<label class="text-dark d-block m-0">Address</label>
											<p>
												Road 741, No.44 <br>
												United States <br>
												New York <br>
												500096<br>
											</p>

										</div>

									</div>


									<div class="col-12 col-sm-6 col-md-4 col-lg-4 br-0">

										<div class="px-3 pb-3">

											<h6 class="mb-4 mt-2 text-primary">
												BILLING <span class="font-weight-normal">ADDRESS</span>
											</h6>
											
											<div class="bg-light p-2 rounded">

												<i class="fi mdi-check text-success"></i>
												<span class="d-inline-block pl-2 pr-2">
													Same as shipping
												</span>

											</div>
											
										</div>

									</div>


								</div>

								<div class="text-muted mt-4">
									<span class="font-weight-medium">Customer Note:</span>

									â€“ â€“

								</div>
								<!-- customer detail -->

							</div>
							<!-- /ORDER PERSONAL DETAIL -->



							<!-- ITEMS -->
							<div class="p-4 shadow-xs rounded mb-4">


								<!-- item -->
								<div class="row">

									<div class="col-3 col-sm-2 col-md-2 col-lg-2 text-center">
										
										<a class="d-block clearfix" href="#!">
											<img class="img-fluid" src="demo.files/images/unsplash/products/thumb_330/imani-clovis-LxVxPA1LOVM-unsplash-min.jpg" alt="...">
										</a>

									</div>

									<div class="col">

										<div class="row">
											<div class="col">

												<a class="d-block clearfix" href="#!">
													Product title here
												</a>

												<span class="d-block text-muted fs--13">SKU-NIKEY</span>

												<span class="font-weight-medium d-block mt--15">
													<i class="fi fi-shield-ok text-muted"></i> &nbsp; 
													Extend Warranty: 1 Year <span class="font-light">(+34 USD)</span>
												</span>
											</div>

											<div class="col-12 col-md-4 text-align-end text-start-xs">
												<span class="text-success fs--12 mt--3 d-block text-uppercase">
													150 Grams
												</span>

												$548.50 

												<del class="text-muted d-block fs--14">
													$992.5
												</del>
											</div>

										</div>

									</div>
								</div>
								<!-- /item -->


								<hr>


								<!-- item -->
								<div class="row">

									<div class="col-3 col-sm-2 col-md-2 col-lg-2 text-center">
										<a class="d-block clearfix" href="#!">
											<img class="img-fluid" src="demo.files/images/unsplash/products/thumb_330/gift.jpg" alt="...">
										</a>
									</div>

									<div class="col">

										<div class="row">
											<div class="col">
												<a class="d-block clearfix" href="#!">
													Product title here
												</a>

												<span class="d-block text-muted fs--13">SKU-GIFT</span>
											</div>

											<div class="col-12 col-md-4 text-align-end text-start-xs">
												<span class="badge badge-danger bg-gradient-danger p-2">GIFT</span>
											</div>

										</div>

									</div>
								</div>
								<!-- /item -->


								<hr>


								<div class="row">
									<div class="offset-sm-6 offset-md-6 offset-lg-7 col-12 col-sm-6 col-md-6 col-lg-5">

										<div class="clearfix mb--15">
											Subtotal:
											<span class="float-end text-align-end">
												$2796.45
												<span class="d-block text-muted fs--12">
													VAT: 19% (included)
												</span>
											</span>
										</div>


										<div class="clearfix">
											Shipping:
											<span class="float-end text-align-end">
												$120.00
											</span>
										</div>

										<hr>

										<div class="clearfix">
											<h5 class="float-start">
												Total:
											</h5>
											<h5 class="float-end">
												$2916.45 
											</h5>
										</div>

									</div>
								</div>


								<hr>


								<div class="text-success text-align-end text-center-xs px-3">

									Congratulations John, you saved: <b>$697.00</b> 

									<!-- show percent on saved more than 10% -->
									<span class="font-light">(20%)</span>

								</div>


							</div>
							<!-- /ITEMS -->



							<!-- ORDER OPTIONS -->
							<div class="my-5 d-none d-sm-block"><!-- desktop only -->

								<div class="clearfix text-align-center-xs">

									<h6>
										Order Options
									</h6>

									<a class="btn btn-sm btn-light" href="#!">
										<i class="fi fi-print m-0"></i> 
									</a>

									<a class="btn btn-sm btn-light" href="#!">
										<span class="fs--13 m-0">PDF : INVOICE</span> 
									</a>

								</div>

							</div>
							<!-- /ORDER OPTIONS -->


						</div>
				

				

			</div>

		</div>


