<div class="sticky-kit">
								<div class="position-relative">
									<div class="bg-light p-3 rounded-xl">

										<h3 class="h5 border-bottom pb-3 mb-3">
											 Price Summary
										</h3>
										<div class="side_dropdown">
											<div class="form-label-group">
<p>QTY:
											<select id="select_options" class="border_style">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
											</select></p>
										</div>
										</div>


										<div class="border-bottom pb-3 mb-3">
											<div class="clearfix">
												Grower's Price: 
												<span class="float-end font-weight-medium">
													$0.38
												</span>
											</div>

											<div class="clearfix">
												Shipping: 
												<span class="float-end">
												 $0.20
												</span>
											</div>


											<div class="clearfix">
												Handling: 
												<span class="float-end">
												 $0.14
												</span>
											</div>
										</div>


										<div class="clearfix mb-3">
											<h4 class="float-start fs--20">Total:</h4>
											<h4 class="float-end fs--20 ">
												$0.72
											</h4>
										</div>


										<div class="border-bottom pb-3 mb-2">

											<a href="shop-page-checkout.html" class="btn btn-sm btn-block btn-danger bg-gradient-danger text-white fs-14 b-0">
												<span>Buy Now </span>
												<i class="fi fi-arrow-end fs--12"></i>
											</a>

										</div>



										<!-- COUPON CODE -->
										<a href="#coupon_code" data-toggle="collapse" class="text-decoration-none m-0 text-dark">
											<span class="group-icon float-start fs--16">
												<i class="fas fa-gavel"></i>
												<i class="fi fs--14 fi-close"></i>
											</span>
											<span>Counterbid</span>
										</a>

										<div id="coupon_code" class="collapse w-100">

											<div class="pt-3 w-100">
												<form novalidate class="bs-validate" method="post" action="#">

													<div class="input-group">

														<input required type="text" name="coupon_code" class="form-control form-control-sm" placeholder="" value="$0.38">
														
														<div class="input-group-append">
															<button class="btn btn-sm btn-secondary">Recalculate</button>
														</div>

													</div>

												</form>
											</div>

										</div>
										<!-- /COUPON CODE -->

									</div>
								</div>
							</div>