#header .navbar-collapse.show>.navbar-xs>.navbar-brand, #header .navbar-collapse.show>.navbar-xs>.navbar-brand>img, header.main-nav .navbar-collapse.show>.navbar-xs>.navbar-brand, header.main-nav .navbar-collapse.show>.navbar-xs>.navbar-brand>img {
    width: auto;
    height: auto;
}
.logo_green_txt{
    color: #93AF2B!important;
}
.pd-15{
	padding-top: 15px;
}
.light_purple{
    background-color: #f1d1ef!important;
}
.light_purple_gradient {
    background: #fad776;
    background: linear-gradient(180deg,#f1d1ef 0,#f192ebfa)!important;
}
	@media(min-width: 300px) and (max-width: 350px)
	{
		#header .navbar-brand>img, header.main-nav .navbar-brand>img {
    width: 135px;
    height: auto;
    max-width: 135px!important;
}
	}
		@media(min-width: 351px) and (max-width: 400px)
	{
		#header .navbar-brand>img, header.main-nav .navbar-brand>img {
    width: 160px;
    height: auto;
    max-width: 160px!important;
}
	}
			@media(min-width: 401px) and (max-width: 700px)
	{
		#header .navbar-brand>img, header.main-nav .navbar-brand>img {
    width: 188px;
    height: auto;
    max-width: 188px!important;
}
}
.navbar-brand>img {
    max-width: 100%!important;
    max-height: auto!important;
}
@media only screen and (max-width: 991px){
.navbar-collapse.show>.navbar-nav {
    bottom: 15px;
}
.collapse.show a.navbar-brand {
    margin: 0 auto;
    display: block;
    padding-bottom: 18px;
    padding-top: 15px;
    padding-left: 18px;
}
}