<?php
$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addAttributeToSelect('*');	

//filter for products who name is equal (eq) to Widget A, or equal (eq) to Widget B
$collection->addAttributeToFilter('featured_product',1);

	/*echo '<pre>';
		print_r($collection->getData());
	echo '</pre>';*/
	/*foreach ($collection as $_p):
		echo '<pre>';
			print_r($_p->getData());
		echo '</pre>';
	endforeach;*/
?>
<?php if ($collection): ?>
<div id="featured_product" class="featured_product">
	<div class="page-title">
		<h1><?php echo $this->__('Featured Items') ?></h1>
	</div>
		<div id="slides">
			<div class="slides_container" style="width:auto">
		<?php $_columnCount = $this->getColumnCount(); ?>

			<?php $i=0; foreach ($collection as $_p): 
						$_product = Mage::getModel('catalog/product')->load($_p->getId());
                        $_sku = $_product->getSku();
                        $mp3_format = $_product->getFormatMp3disc();
                        $download_format = $_product->getFormatDownload();
                        
                        $mp3_sku = substr($_sku, 0, strlen($_sku) - 1) . 'M';
                        if(Mage::getModel('catalog/product')->loadByAttribute('sku',$mp3_sku)){
                            $mp3_disc = Mage::getModel('catalog/product')->loadByAttribute('sku',$mp3_sku)->getProductUrl();
                        }

                        $download_sku = substr($_sku, 0, strlen($_sku) - 1) . 'L';
                        if(Mage::getModel('catalog/product')->loadByAttribute('sku',$download_sku)){
                            $download = Mage::getModel('catalog/product')->loadByAttribute('sku',$download_sku)->getProductUrl();
                        }
			?>
				<?php if ($i++%$_columnCount==0): ?>
						<div class="slide">
				<?php endif ?>
				<?php $banner = $_product->getAttributeText('banner'); ?>		
							<div class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
								<div class="banners <?php echo $banner ?>">
								<?php echo $banner=='None'?'':$banner; ?>
								</div>
								<div class="product-details">
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(160) ?>" width="160" height="160" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>

									<h3 class="product-name" style="<?php if(strlen($_product->getName())>40): echo 'font-size:12px'; endif;  ?>">
										<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
									
									<div class="desc" style="overflow:hidden"><?php  echo strip_tags(substr( $_product->getShortDescription(), 0, 85).'...');  ?> </div>
									
									<?php //echo $this->getPriceHtml($_product, true, '-new') ?>

									<div class="actions" style="text-align:center;">
										<!--<span>MEDIA AVAILABLE:</span>-->
										<?php if($_product->getSpeakerName()): ?>
											<div class="author">
												<?php echo $_product->getAttributeText('speaker_name') ?>
											</div>
									<?php endif; ?>
								
										<select name="media_available" style="width: 165px;" onclick="setProductUrl(this.value,'<?php echo $_product->getProductUrl() ?>')">
											<option value=""> Available Media </option>
											<option value="self"><?php echo strtoupper($_product->getAttributeText('media_type')); ?></option>
                                            <?php if($mp3_disc !="" && ( strtoupper($_product->getAttributeText('media_type'))!='BOOK' && strtoupper($_product->getAttributeText('media_type'))!='DVD'  ) ): ?>
												<option value="<?php echo $mp3_disc ?>">MP3 Discs</option>
											<?php endif; ?>
											<?php if($download !="" && ( strtoupper($_product->getAttributeText('media_type'))!='BOOK' && strtoupper($_product->getAttributeText('media_type'))!='DVD'  ) ): ?>
												<option value="<?php echo $download ?>">MP3 Download</option>
											<?php endif; ?>
										</select>
										<button style="margin-top: 5px;" type="button" title="<?php echo $this->__('View') ?>" class="button btn-cart" onclick="redirectToProduct('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('View') ?></span></span></button>
								<?php /*else: ?>
										<button style="margin-top: 5px;" type="button" title="<?php echo $this->__('View') ?>" class="button btn-cart" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('View Product') ?></span></span></button>
								<?php endif;*/ ?>
									<?php /*if($_product->isSaleable()): ?>

											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>

										<?php else: ?>

											<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>

										<?php endif;*/ ?>
									</div>
								</div>
							</div>
				<?php if ($i%$_columnCount==0 || $i==count($collection)): ?>
						</div>
				<?php endif ?>

			<?php endforeach; ?>
		</div>
		<!--<div class="pagination-block">
		</div>-->
	</div>
</div>
<?php endif; ?>
<br style="clear:both"/>

<script type="text/javascript">
		function setProductUrl(a,p_url){
			var url_to_redirect = a.toLowerCase();
		}
		function redirectToProduct(p_url){
			if(url_to_redirect=="")
			{
				return;
				}
				
			if(url_to_redirect=="self"){
				setLocation(p_url);
			}else{
				setLocation(url_to_redirect);
			}
		}
	jQuery(document).ready(function(){
		
		jQuery("#featured_product .product-name").each(function(){ 
			if(jQuery(this).outerHeight()>42){
			   jQuery(this).next().css("height","35px");
			}
		});
		/*jQuery('#slides').slides({
			preload: true,
			generateNextPrev: true,
			play: 5000,
			hoverPause: true
		});*/
		jQuery("#featured_product .slides_container").slidesjs({
			width: 770,
			height: 450,
			start: 1,
			play: {
			  active: true,
				// [boolean] Generate the play and stop buttons.
				// You cannot use your own buttons. Sorry.
			  effect: "slide",
				// [string] Can be either "slide" or "fade".
			  interval: 10000,
				// [number] Time spent on each slide in milliseconds.
			  auto: true,
				// [boolean] Start playing the slideshow on load.
			  swap: false,
				// [boolean] show/hide stop and play buttons
			  pauseOnHover: true,
				// [boolean] pause a playing slideshow on hover
			  restartDelay: 0
				// [number] restart delay on inactive slideshow
			},
			navigation: {
			  active: true,
				// [boolean] Generates next and previous buttons.
				// You can set to false and use your own buttons.
				// User defined buttons must have the following:
				// previous button: class="slidesjs-previous slidesjs-navigation"
				// next button: class="slidesjs-next slidesjs-navigation"
			  effect: "fade"
				// [string] Can be either "slide" or "fade".
			},
			callback: {
			  loaded: function(number) {
				// Do something awesome!
				// Passes start slide number
				jQuery('#featured_product .slidesjs-pagination-item a').each(function(){
					if(jQuery(this).html() == number){
						jQuery('#featured_product .slidesjs-pagination-item').removeClass('current');
						jQuery(this).parent().addClass('current');
					}
				});
			  },
			  start: function(number) {
				// Do something awesome!
				// Passes slide number at start of animation
				jQuery('#featured_product .slidesjs-pagination-item a').each(function(){
					if(jQuery(this).html() == number){
						jQuery('#featured_product .slidesjs-pagination-item').removeClass('current');
						jQuery(this).parent().addClass('current');
					}
				});
			  },
			  complete: function(number) {
				// Do something awesome!
				// Passes slide number at end of animation
				jQuery('#featured_product .slidesjs-pagination-item a').each(function(){
					if(jQuery(this).html() == number){
						jQuery('#featured_product .slidesjs-pagination-item').removeClass('current');
						jQuery(this).parent().addClass('current');
					}
				});
				
			  }
			}
		});
		
		jQuery("#featured_product .slidesjs-pagination").wrap('<div class="pagination-block">');
		jQuery("#pagination-block").append(jQuery("#featured_product .slidesjs-pagination").clone());
		jQuery("#featured_product .pagination-block").prepend('<img class="alternate-slide-button prev" src="<?php echo $this->getSkinUrl('images/slider_prev_button.png') ?>"/>');
		jQuery("#featured_product .pagination-block").append('<img class="alternate-slide-button next" src="<?php echo $this->getSkinUrl('images/slider_next_button.png') ?>"/>');
		jQuery('#featured_product .slidesjs-previous.slidesjs-navigation').css('display','none');
		jQuery('#featured_product .slidesjs-next.slidesjs-navigation').css('display','none');
		jQuery('#featured_product .slidesjs-stop.slidesjs-navigation').css('display','none');
		jQuery('#featured_product .slidesjs-play.slidesjs-navigation.slidesjs-playing').css('display','none');
		jQuery("#featured_product .pagination-block .pagination").css('padding-top','0px');
		
		jQuery('#featured_product .alternate-slide-button.next').click(function(){
			jQuery('#featured_product #slides .slidesjs-next.slidesjs-navigation').click();
		});
		jQuery('#featured_product .alternate-slide-button.prev').click(function(){
			jQuery('#featured_product #slides .slidesjs-previous.slidesjs-navigation').click();
		});
	});
</script>
