#loading {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.5;
    filter: alpha(opacity=70);
}
.cssload-spin-box {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    animation: cssload-spin ease infinite 7s;
    -o-animation: cssload-spin ease infinite 7s;
    -ms-animation: cssload-spin ease infinite 7s;
    -webkit-animation: cssload-spin ease infinite 7s;
    -moz-animation: cssload-spin ease infinite 7s;
}
