.megamenu{

position: absolute;

display: none;

left: 0;

top: 10;

background: white;

border: 1px solid #ea87e4;

border-width: 5px 1px;

padding: 10px;



z-index: 100;



}



.megamenu .column{

float: left;

width: 180px;; /*width of each menu column*/

margin-right: 5px;

}



.megamenu .column ul{

margin: 0;

padding: 0;

list-style-type: none;

}



.megamenu .column ul li{

padding-bottom: 5px;
margin-right:10px;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:noraml;
}



.megamenu .column h3 {

background: #f0f0f0;

font-size: 12px;

font-weight: bold;

padding:5px;

margin: 0 0 5px 0;

color:#555555;



}



.megamenu .column h3 a

{

text-decoration:none;

font-family: 'MyriadProRegular',Arial;

font-size: 12px;

font-weight: bold;

color:#555555;

}



.megamenu .column ul li a{

text-decoration: none;

color:#555555;

}



.megamenu .column ul li a:hover{

text-decoration:underline;



}
