.checkbox, .radio {width: 25px;	height:25px; 	display: block; float:left;}
.radio {}
input.styled {display: none; } 
.select {position: absolute;color:#000;overflow: hidden;z-index:5;text-align:left; background:url(../images/select-box-new.jpg) no-repeat 0 0; width:260px; height:28px;  padding:7px 0 0 10px;font-family:"MyriadProRegular" , Arial, Helvetica, sans-serif; font-size:12px; line-height:14px;}
select.styled{width:270px!important; opacity: 0; filter: alpha(opacity=0); z-index: 5; color:#586ab5;height:30px; position:relative;  display:block;}
select.styled option{font-family:"MyriadProRegular" , Arial, Helvetica, sans-serif; color:#000; padding:0px 0 3px 5px;}

.div-lightbox .select {position: absolute;overflow: hidden;z-index:5;text-align:left; background:url(../images/big-select-box.gif) no-repeat 0 0; width:305px; height:24px;  padding:7px 20px 0 7px; color:#323232; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; }
.div-lightbox select.styled{width:332px!important; opacity: 0; filter: alpha(opacity=0); z-index: 5; color:#586ab5;height:24px; position:relative;  display:block;}
.div-lightbox select.styled option{font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; padding:2px 0px 2px 5px; color:#323232;}

.div-lightbox3{display:block; padding:0px;}

.portfolio-list .list1 .select {position: absolute;color:#000;overflow: hidden;z-index:5;text-align:left; width:250px; border:1px solid #c5d2e3; background:#fff url(../images/arrow-down.gif) no-repeat 250px 10px;  padding:5px 10px; height:20px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; font-style:normal!important;}
.portfolio-list .list1 select.styled{width:271px!important; opacity: 0; filter: alpha(opacity=0); z-index: 5; color:#586ab5;height:32px; position:relative;  display:block;}
.current-opening div span{width:275px!important; padding:0px 0 0 10px; line-height: 27px; background:url(../images/select-box-2.jpg) no-repeat 0 0!important; font-size:12px}
.current-opening div select.styled{width:284px!important; padding:0px;}
.div-lightbox3 .select{position: absolute;overflow: hidden;z-index:5; text-align:left; background:url(../images/big-select-box.gif) no-repeat!important; background-position:top right!important; width:133px!important; height:19px!important;  padding:7px 20px 0 7px; color:#323232; font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif;!important }
.div-lightbox3 select.styled{width:160px!important; opacity: 0; filter: alpha(opacity=0); z-index: 5; color:#586ab5;height:24px; position:relative;  display:block;}
.div-lightbox3 select.styled option{font:12px/14px "MyriadProRegular" , Arial, Helvetica, sans-serif; padding:2px 0px 2px 5px; color:#323232;}


